extends layouts/main.pug

block content   
    .form-container
        form(action=`/videos${routes.editVideo}`, method="post")
            input(type="text", placehlolder="Title", name="title")
            textarea(placehlolder="Description", name="description")
            input(type="submit", value="Update Video")
        a.form-container_link.form-container_link-delete(href=`/videos${routes.deleteVideo}`) Delete Video